@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ADE8F4;
}
body {
    background-image: linear-gradient(to right, #023E8A , #0077B8);
}
.button {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    display: inline-block;
    color: #ADE8F4;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 250px;
}
main {
    /* text-align: center; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    text-align: right;
    height: 100px;
}
a:hover {
    background: #0077B8;
    color: #0096C7;
}
section {
    margin-top: 20px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
} 
p {
    color: #ADE8F4;
    text-align: center;
}
h1 {
    color: #ADE8F4;
    text-align: center;
    font-size: 200%;
}
#optionA,
#optionB,
#optionC,
#optionD {
    /*background-image: linear-gradient(to right, #023E8A , #0077B8);*/
    background: #023E8A;
    border: 2px solid #0077B8;
    border-radius: 30px 30px 30px 30px;
    color: #ADE8F4;
    height: 60px;
    width: 350px;
    margin-top: 10px;
    margin-left: 30px;
}
#optionA:hover,
#optionB:hover,
#optionC:hover,
#optionD:hover,
#submit {
    cursor: pointer;
}
#optionA:hover:disabled,
#optionB:hover:disabled,
#optionC:hover:disabled,
#optionD:hover:disabled,
#submit:hover:disabled {
    cursor: default;
}
#qOneInner {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 150%;
}
#optAInner,
#optBInner,
#optCInner,
#optDInner {
    font-size: 150%;
}
#submit,
#startGame {
    /*background-image: linear-gradient(to right, #023E8A , #0077B8);*/
    background: #023E8A;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 800px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    margin-top: 30px;
    padding-top: 4px;
    font-size: 150%;
    }
/* #submitInner, */
#hintInner {
    font-size: 150%;
}
#fiftyfifty,
#hint {
    background: #023E8A;
    /* margin-left: auto;
    margin-right: auto; */
    height: 50px;
    width: 395px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
}
#hint {
    float: right;
}
#fiftyInner {
    font-size: 200%;
}
#fiftyfifty:hover,
#hint:hover {
    background: #0077B8;
    cursor: pointer;
}
#hint:disabled:hover,
#fiftyfifty:disabled:hover {
    background: #023E8A;
    cursor: default;
}
a:hover {
    background: #0077B8;
    color: #0096C7; 
}
#level {
    color: #ADE8F4;
    text-align: center;
    font-size: 200%;
}

/* SESSION STAT PAGE */
.playStat {
    font-size: 200%;
}
/* #startGame:hover {
    background: #0077B8;
    color: #0096C7;
} */
.statHeader {
    margin-top: 80px;
}
#totalStat,
#lastScore,
#highscoreText {
    font-size: 150%;
    text-align: left;
    margin-left: 40px;
}
.sessionStatSection {
    width: 400px;
    height: 200px;
    margin-top: 40px;
}
.fixedButton {
    background-size: 300% 100%;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    background-color: #023E8A;
    color: #ADE8F4;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 100px;
    font-size: 150%;
    padding-top: 28px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.fixedButton:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* background: #0077B8;
    border-color: #023E8A; */
    width: 200px;
    height: 150px;
    padding-top: 50px;
    font-size: 200%;
    cursor: pointer;
    background-position: 100% 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#fixedAnchor {
    text-decoration: none;
    color: #ADE8F4;
}
.fixedButton:focus {
    outline: none;
}
.fixedButton.color:hover {
    background-image: linear-gradient(to left, #023E8A, #0077B8, #0077B8, #33b7ec);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


/* DROPDOWN MENU */
.dropButton {
    background-color: #023E8A;
    color: #ADE8F4;
    text-align: center;
    font-size: 150%;
    width: 150px;
    height: 100px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #023E8A;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    z-index: 1;
    height: 140px;
}
.dropdownContent a {
    color: #ADE8F4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover {
    background-color: #0077B8;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.dropdown:hover .dropdownContent {
    display: block;
}
.dropdown:hover .dropButton {
    background-color: #0077B8;
}
header {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
nav {
    text-align: right;
    display: inline-block;
}

/* SCROLLING TEXT */
.scroll-left {
    height: 50px;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    /* background: #023E8A; */
    color: #ADE8F4;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
    font-size: 150%;
}
@-moz-keyframes scroll-left {
    0% {-moz-transform: translateX(100%);}
    100% {-moz-transform: translateX(-100%);}
}
@keyframes scroll-left {
    0% {-moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);}
    100% {-moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)}
}